<app-gestion-etablissement  (indexChange)='displayIndex($event)'></app-gestion-etablissement>
<div class="col-sm-6" style="margin-left:auto; margin-right:auto;">
    <div class="card">
      <div class="card-header">
        <strong>Modifier Etablissement</strong>
        
      </div>
      <form [formGroup]="etabForm" >
      <div class="card-body">
        <div class="form-group">
          <label for="nomEtablissement">Nom Etablissement</label>
          <input type="text" class="form-control" formControlName="nom">
        </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" formControlName="adresse">
        </div>
        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="text" class="form-control" formControlName="telephone" >
        </div>
        <div class="form-group">
          <label for="fax">Fax</label>
          <input type="text" class="form-control" formControlName="fax">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" (click)="saveUpdate()"><i class="fa fa-dot-circle-o"></i> Update</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
      </form>
    </div>
  </div>