
      <div class="col-lg-8"  style="margin-left:auto; margin-right:auto;">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> List Candidat
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                    <th style="text-align: center;" *ngFor="let head of headElements">{{head}} </th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let candidat of candidatList; let i = index;">
                                <td style="text-align: center;">{{candidat.nom}}</td>
                                <td style="text-align: center;">{{ candidat.prenom}}</td>
                                <td style="text-align: center;">{{candidat.adresse}}</td>
                                <td style="text-align: center;">{{ candidat.email}}</td>
                                <th><button class="btn btn-primary" (click)="deleteCandidat(i)">Delete</button>
                                  <button class="btn btn-primary"(click)="updateCandidat(i)"style="margin:auto">Update</button></th>
                        
                              </tr>
                  </tbody>
                </table>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
    
        
              <!--/.col-->
          
         
    
    