<app-gestion-candidat (indexChange)='displayIndex($event)'></app-gestion-candidat>
<div class="col-sm-6" style="margin-left:auto; margin-right:auto;">
    <div class="card">
      <div class="card-header">
        <strong *ngIf="index==null">Ajouter Candidat</strong>
        <strong *ngIf="index!=null">Modifier Candidat</strong>
      </div>
      <form [formGroup]="candidatForm"(ngSubmit)="onSubmit()" >
      <div class="card-body">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" formControlName="nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" formControlName="prenom">
        </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" formControlName="adresse" >
        </div>
        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="text" class="form-control" formControlName="telephone">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" formControlName="password">
            </div>
        <div class="card-footer">
            <button *ngIf="index==null" class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>Ajouter</button>
            <button *ngIf="index!=null"type="submit" class="btn btn-sm btn-primary" (click)="saveUpdate()"><i class="fa fa-dot-circle-o"></i> Save Update</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
      </form>
    </div>
  </div>